<div class="container-fluid">
  <div class="wrapper">
    <div class="image">
      <img src={{pokemon.sprites.back_default}} alt="">
    </div>
    <div class="details-wrapper">
      <div class="stats">
        <h3 class="mb-2">ID: {{pokemon.id}} </h3>
        <h3 class="mb-2">Name:{{pokemon.name}}</h3>
        <h3 class="mb-2">Weight:{{pokemon.weight}}  </h3>
        <h3 class="mb-2">Height:{{pokemon.height}} </h3>
      </div>
      <div class="moves">
        <h3 class="mb-2">Move:{{pokemon.moves[0].move.name}} </h3>
        <h3 class="mb-2">Type:{{pokemon.types[0].type.name}}</h3>
      </div>
    </div>
  </div>
</div>
